header{
}
h1 {
    font-family: sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
}
h2 {
    font-family: sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
}


p {
    font-family: sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {

}
li a {
    float: left;
    display: block;
    color: white;
    font-family: sans-serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

img.logo{ width: 50px;
    heigth: 50px;
}

img.loading_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    align-content: center;
}

div.status_text {
    text-align: center !important;
}
.btn {
    border: darkgray;
    background-color: green;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: block;

}

/* On mouse-over */
.btn:hover {background: darkgreen;}

.download {color: white;}

/* Style the search box inside the navigation bar */
input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    margin-left: 12px;
    font-size: 17px;
}