<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Premonition</title>
    <link th:href="@{/stylesheets/premonitionpage.css}" rel="stylesheet" />
    <link href="../static/stylesheets/premonitionpage.css" rel="stylesheet"/>
</head>
<body>
<ul>
  <li>
    <a href="homepage.html" th:href="@{/home}">Home</a>
  <li>
    <a href="premonition.html" th:href="@{/premonition}">Premonition</a>
  </li>
  <li>
    <a href="aboutus.html" th:href="@{/aboutus}">About Us</a>
  </li>
</ul>

<form method="POST" th:object="${form}" enctype="multipart/form-data">
  <tr>
  <p> Limited<input type="range" min="0" max="5" value="3" class="slider" th:field="*{limited}"></p>
      <p>test<input type = text th:field="*{test}"/></p>
      <p>include NRCs<input value = "includeNRCs" type="checkbox" name="includeNRCs" th:field="*{includeNRCs}"></p>
      <p>Remove Edges<input value = "removeEdges" type="checkbox" name="removeEdges" th:field="*{removeEdges}"></p>
      <p>Select a file to upload<input type="file" name="file"  th:field="*{file}"/></p>
      <p>Select a file to upload<input type="file" name="refFile" th:field="*{refFile}"/></p>
      <p><input type="submit" value="Submit" /></p>
      <p><input type="reset" value="Reset" /></p>
    </tr>
  </table>
</form>
</body>
</html>