<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.1.0/cytoscape.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/stylesheets/viewpage.css}" rel="stylesheet" />
    <!-- <link href="../static/stylesheets/viewpage.css" rel="stylesheet"/> -->
</head>
<body>
<ul>
    <li>
        <a href = "homepage.html" th:href="@{/home}">
            <img class="logo" alt="Premonition home" src="../static/images/logo.jpeg" th:src="@{/images/logo.jpeg}">
        </a>
    <li>
        <a href="homepage.html" th:href="@{/home}">Home</a>
    <li>
        <a href="premonition.html" th:href="@{/premonition}">Premonition</a>
    </li>
    <li>
        <a href="aboutus.html" th:href="@{/aboutus}">About Us</a>
    </li>
</ul>
<div id="cy" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px;"></div>

<div class = "loading">
    <img class="loading_img" id="loading_img" width="50%" height="50%" th:src="@{/images/loading.gif}" alt="Crunching numbers and creating networks."/>
    <div class="status_text" id ="status_text">Initializing</div>
</div>
<script>

    var dataLocation = "[[${location}]]";
    var tempID = "12345" //Temp var delete later.
    var sessionID = "[[${ID}]]";
    var fetchedData = null;
    var url = "check_results"
    var loading_img = document.getElementById('loading_img');
    var status_text = document.getElementById('status_text');
    var cy_canvas =  document.getElementById('cy');

    var get_data = function (){
        $.ajax({
            url: url + "?user_id=" + tempID,
            dataType: "json",
            success: function(data){
                fetchedData = data;
                // console.log(data);
                // console.log("fetched data length " + Object.keys(fetchedData).length)
            },
            error: function(){
                console.log("There was an error.");
            }
        }).then(function(){
            if(Object.keys(fetchedData).length > 1) {
                //Turn the loading elements off.
                loading_img.hidden = true;
                status_text.hidden = true;
                cy_canvas.hidden = false; //Show cytoscape canvas
            }
            else{
                //Turn the loading elements on.
                loading_img.hidden = false;
                status_text.hidden = false;
                //Change status text
                status_text.innerHTML = fetchedData.status;
                cy_canvas.hidden = true; //Hide cytoscape canvas
                console.log("Put loading screen here")
            }
        });
    }

    // Retrieve data every 2 seconds and update the results tables
    window.setInterval(function(){
        get_data();
    }, 2000);

    // var cy = cytoscape({
    //     container: document.getElementById('cy'),
    //     elements: [
    //         { data: { id: 'a' } },
    //         { data: { id: 'b' } },
    //         {
    //             data: {
    //                 id: 'ab',
    //                 source: 'a',
    //                 target: 'b'
    //             }
    //         }
    //     ]
    // });
    //
    // var canvas = document.querySelector('canvas[data-id="layer2-node"]');
    // var context = canvas.getContext('2d');
    //
    // // draw rectangle using general canvas method
    // function draw() {
    //     context.fillRect(canvas.width / 2.1, 60, 30, 30);
    //     requestAnimationFrame(draw);
    // }
    // draw();
</script>

</body>
</html>