<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- cytoscape -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.1.0/cytoscape.min.js"></script>

    <!-- cyposcape dagre -->
    <script src="https://unpkg.com/dagre@0.7.4/dist/dagre.js"></script>
    <script src="https://cdn.rawgit.com/cytoscape/cytoscape.js-dagre/1.5.0/cytoscape-dagre.js"></script>

    <!-- cytoscape popper -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.5/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/cytoscape-popper@1.0.2/cytoscape-popper.min.js"></script>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/stylesheets/viewpage.css}" rel="stylesheet" type="text/css"/>

</head>
<body>
<ul>
    <li>
        <a href = "homepage.html" th:href="@{/home}">
            <img class="logo" alt="Premonition home" src="../static/images/logo.jpeg" th:src="@{/images/logo.jpeg}">
        </a>
    <li>
        <a href="homepage.html" th:href="@{/home}">Home</a>
    <li>
        <a href="premonition.html" th:href="@{/premonition}">Premonition</a>
    </li>
    <li>
        <a href="aboutus.html" th:href="@{/aboutus}">About Us</a>
    </li>
    <li id = "btn_download">
        <form action="#" th:action="@{/viewpage}" method="post">
            <button class="btn_download">Download Cytoscape File</button>
        </form>
    </li>
    <li id="btn search">
        <form role="search">
            <input type="search" id="qry search"
               placeholder="Search..."
               aria-label="Search through site content">
            <button class = "btn search">Search</button>
        </form>
    </li>
</ul>
<div id="cy" style="width: 100%; height: 80%; position: absolute; top: 90px; left: 0px;"></div>

<div class = "loading" id="loading">
    <img class="loading_img" id="loading_img" width="50%" height="50%" th:src="@{/images/loading.gif}" alt="Crunching numbers and creating networks."/>
    <div class="status_text" id ="status_text">Initializing</div>
</div>
<script>

    clicked = false

    var dataLocation = "[[${location}]]";
    var tempID = "12345" //Temp var delete later.
    var tempCounter = 0; //Temp var delete later.
    var sessionID = "[[${ID}]]";
    var fetchedData = {};
    var url = "check_results"
    var status_text = document.getElementById('status_text');
    var loading_div = document.getElementById('loading');
    var download_but = document.getElementById('btn_download');
    var search_form = document.getElementById('btn search');
    var search_query = document.getElementById('qry search')
    var cy_canvas =  document.getElementById('cy');
    cy_canvas.hidden = true; //Set the cytoscape canvas to hide when page is first loaded.
    download_but.hidden = true;
    search_form.hidden = true;
    search_query.hidden = true;


    var cy = null // holds canvas
    var cycle_cy = true; //cycle cy initialization? Once per new set of data.

    var cyto_style = [
        {
            'selector': 'node', 'style': {'content': 'data(label)', 'background-color': 'BlueViolet'}
        },
        {
            'selector': 'edge', 'style': {'label': 'data(score)'}
        },
        {
            'selector': ':selected',
            'style': {
                'background-color': 'SteelBlue', 'line-color': 'black', 'target-arrow-color': 'black', 'source-arrow-color': 'black'}
        },
        {
            'selector': '.cat_1', 'style': {'line-color': 'MediumBlue'}
        },
        {
            'selector': '.cat_2', 'style': {'line-color': 'RoyalBlue'}
        },
        {
            'selector': '.cat_3', 'style': {'line-color': 'DeepSkyBlue'}
        },
        {
            'selector': '.cat_4', 'style': {'line-color': 'LightSkyBlue'}
        },
        {
            'selector': '.cat_5', 'style': {'line-color': 'Green'}
        },
        {
            'selector': '.cat_6', 'style': {'line-color': 'OliveDrab'}
        },
        {
            'selector': '.cat_7', 'style': {'line-color': 'LimeGreen'}
        },
        {
            'selector': '.cat_8', 'style': {'line-color': 'LawnGreen'}
        },
        {
            'selector': '.cat_9', 'style': {'line-color': 'DarkKhaki'}
        },
        {
            'selector': '.cat_10', 'style': {'line-color': 'Gold'}
        },
        {
            'selector': '.cat_11', 'style': {'line-color': 'Yellow'}
        },
        {
            'selector': '.cat_12', 'style': {'line-color': 'LightGoldenrodYellow'}
        },
        {
            'selector': '.cat_13', 'style': {'line-color': 'OrangeRed'}
        },
        {
            'selector': '.cat_14', 'style': {'line-color': 'Tomato'}
        },
        {
            'selector': '.cat_15', 'style': {'line-color': 'DarkOrange'}
        },
        {
            'selector': '.cat_16', 'style': {'line-color': 'Orange'}
        },
        {
            'selector': '.cat_17', 'style': {'line-color': 'Red'}
        },
        {
            'selector': '.cat_18', 'style': {'line-color': 'Crimson'}
        },
        {
            'selector': '.cat_19', 'style': {'line-color': 'LightCoral'}
        },
        {
            'selector': '.cat_20', 'style': {'line-color': 'DarkMagenta'}
        },
        ]

    let conc_layout = {
        name: 'concentric',
        fit: true, // whether to fit the viewport to the graph
        padding: 35, // the padding on fit
        startAngle: 3 / 2 * Math.PI, // where nodes start in radians
        sweep: undefined, // how many radians should be between the first and last node (defaults to full circle)
        clockwise: true, // whether the layout should go clockwise (true) or counterclockwise/anticlockwise (false)
        equidistant: false, // whether levels have an equal radial distance betwen them, may cause bounding box overflow
        minNodeSpacing: 10, // min spacing between outside of nodes (used for radius adjustment)
        boundingBox: undefined, // constrain layout bounds; { x1, y1, x2, y2 } or { x1, y1, w, h }
        avoidOverlap: true, // prevents node overlap, may overflow boundingBox if not enough space
        nodeDimensionsIncludeLabels: true, // Excludes the label when calculating node bounding boxes for the layout algorithm
        height: undefined, // height of layout area (overrides container height)
        width: undefined, // width of layout area (overrides container width)
        spacingFactor: undefined, // Applies a multiplicative factor (>0) to expand or compress the overall area that the nodes take up
        concentric: function( node ){ // returns numeric value for each node, placing higher nodes in levels towards the centre
            return node.degree();
        },
        levelWidth: function( nodes ){ // the variation of concentric values in each level
            return nodes.maxDegree() / 4;
        },
        animate: false, // whether to transition the node positions
        animationDuration: 500, // duration of animation in ms if enabled
        animationEasing: undefined, // easing of animation if enabled
        animateFilter: function ( node, i ){ return true; }, // a function that determines whether the node should be animated.  All nodes animated by default on animate enabled.  Non-animated nodes are positioned immediately when the layout starts
        ready: undefined, // callback on layoutready
        stop: undefined, // callback on layoutstop
        transform: function (node, position ){ return position; } // transform a given node position. Useful for changing flow direction in discrete layouts
    };

    var get_data = function (){
        $.ajax({
            url: url + "?user_id=" + tempID,
            dataType: "json",
            success: function(data){
                fetchedData = data;
                // console.log(data);
                // console.log("fetched data length " + Object.keys(fetchedData).length)
            },
            error: function(){
                console.log("There was an error.");
            }
        }).then(
            function(){
                if(Object.keys(fetchedData).length > 1) {
                    //Turn the loading elements off.
                    // loading_img.hidden = true;
                    // status_text.hidden = true;
                    loading_div.hidden = true;
                    download_but.hidden = false;
                    search_form.hidden = false;
                    search_query.hidden = false;
                    cy_canvas.hidden = false; //Show cytoscape canvas
                    if(cycle_cy) {
                        cy = cytoscape({container: document.getElementById('cy'), elements: fetchedData, layout : conc_layout, style: create_stylesheet()});
                        cycle_cy = false;
                        // script for clickable node
                        cy.on('click', 'node', function(event) {
                            // get node a
                            let node_a = event.target;

                            // get edges to -> b and c
                            let connected_edges = node_a.connectedEdges()

                            // get source and target nodes -> a, b and c
                            let connected_nodes = connected_edges.connectedNodes()

                            // Then you can remove the unwanted nodes
                            // If you want, you can save removed_nodes to local storage and add them to the grap at a later point
                            if(clicked == false) {
                                removed_nodes = cy.remove(cy.nodes().not(connected_nodes.union(connected_edges)))
                                clicked = true
                                cy.run()
                            }
                            // You can run the layout directly on the new graph

                        })
                        cy.on('tap', function(event){
                                if(clicked == true) {
                                    removed_nodes.restore()
                                    clicked = false
                                }
                                cy.run()
                            }
                        )
                    }
                }
            else{
                //Turn the loading elements on.
                // loading_img.hidden = false;
                // status_text.hidden = false;
                loading_div.hidden = false;
                download_but.hidden = true;
                search_form.hidden = true;
                search_query.hidden = true;
                //Change status text
                //Change status text (old code, will only update once every call.)
                // if(!pushed_updates.includes(fetchedData.status)){
                //     status_text.innerHTML += "<br>" + fetchedData.status
                //     pushed_updates.push(fetchedData.status)
                // }
                status_text.innerHTML = fetchedData.status;
                cy_canvas.hidden = true; //Hide cytoscape canvas
                cycle_cy = true;
            }
        });
    }

    var create_stylesheet = function(){
        let to_return = [];
        let first_line =
            {
                'selector': 'node', 'style': {'content': 'data(label)', 'background-color': 'BlueViolet'}
            };
        let second_line =
            {
                'selector': 'edge', 'style': {'label': 'data(score)'}
            };
        let last_line = {
            'selector': ':selected',
            'style': {
                'background-color': 'SteelBlue', 'line-color': 'black', 'target-arrow-color': 'black', 'source-arrow-color': 'black'}
        };
        //Push the first two line into the array.
        to_return.push(first_line);
        to_return.push(second_line);
        for(let i = 0; i <= 255; i++){
            var cat = `.cat_${i}`;
            var colour = rgb_generator_no_loop(i);
            var to_append =
                {
                    'selector': cat, 'style': {'line-color': colour}
                };
            to_return.push(to_append); //Push each line into the array.
        }

        to_return.push(last_line); //add the last line.
        return to_return;
    }

    var rgb_generator = function(seed){
        //goal to go from 255,0,0 -> 0,255,0 -> 0, 0, 255.
        //first green goes up, then blue down, then red up then green down.
        let r = 0;
        let g = 0;
        let b = 255;


        for(let i = 0; i < (seed*4); i++){
            if(i < 255){
                g += 1;
            }
            else if(i < (255*2)){
                if( b > 0)
                    b -= 1;
            }
            else if(i < (255*3)){
                if(r < 255)
                    r += 1;
            }
            else{
                if(g > 0)
                    g -= 1;
            }
        }
        //return `rgb(255,0, 255)`;
        console.log(`rgb(${r},${g},${b})`);
        return `rgb(${r},${g},${b})`;
    }

    var rgb_generator_no_loop = function(seed){
        //goal to go from 255,0,0 -> 0,255,0 -> 0, 0, 255.
        //first green goes up, then blue down, then red up then green down.
        let r = 0;
        let g = 0;
        let b = 255;
        let mod_seed = seed*4

        if(mod_seed < 255){
            g = mod_seed;
        }
        if(mod_seed < (255*2) && mod_seed >= 255){
            b -= mod_seed - 255;
            g = 255;
        }
        if(mod_seed < (255*3) && mod_seed >= (255*2)){
            r =  (mod_seed - (255*2));
            g = 255;
            b = 0;
        }
        else{
            if(mod_seed >= (255*3)){
                g = 255 - (mod_seed - (255*3));
                b =0;
                r = 255;
            }
        }
        return `rgb(${r},${g},${b})`;
    }

    // Retrieve data every 2 seconds and update the results tables
    window.setInterval(function(){
        get_data();

        //Remove before release
        tempCounter += 1;
        if(tempCounter > 4) tempID = "123456";
    }, 1000);

    // script for the search bar
    // const f = document.getElementById('form');
    // const q = document.getElementById('query');
    //
    // function submitted(event) {
    //     event.preventDefault();
    // }
    // f.addEventListener('submit', submitted);

</script>

</body>
</html>