<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.1.0/cytoscape.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/homepage.css}" rel="stylesheet" />
    <link href="../static/homepage.css" rel="stylesheet"/>
</head>
<body>
<ul>
    <li>
        <a href="homepage.html" th:href="@{/home}">Home</a>
    <li>
        <a href="premonition.html" th:href="@{/premonition}">Premonition</a>
    </li>
    <li>
        <a href="aboutus.html" th:href="@{/aboutus}">About Us</a>
    </li>
</ul>
<div id="cy" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px;"></div>

<div id="loading">
    <img th:src="@{/images/loading.gif}" alt="Calm down, we're loading..."  width="250" />
    <p id="status_text">
    </p>
</div>
<script>

    var dataLocation = "[[${location}]]";
    var tempID = "12345" //Temp var delete later.
    var sessionID = "[[${ID}]]";
    var fetchedData = null;
    var url = "check_results"
    var get_data = function (){

        $.ajax({
            url: url + "?user_id=" + tempID,
            dataType: "json",
            success: function(data){
                fetchedData = data;
                // console.log(data);
                // console.log("fetched data length " + Object.keys(fetchedData).length)
            },
            error: function(){
                console.log("There was an error.");
            }
        }).then(function(){
            if(Object.keys(fetchedData).length > 1) {
                toggleLoading(false)
               console.log("Yeet into Cytoscape")
            }
            else{
                toggleLoading(true)
                document.getElementById("status_text").innerHTML = fetchedData.status;
                console.log("Put loading screen here")
            }
        });

        // $.ajax(url + "?user_id=" + tempID, function (data) {
        //     fetchedData = data;
        //     console.log($('#data').text(data));
        // });


        // $.when(
        //     $.getJSON(url + "?user_id=" + tempID, function (data){
        //         fetchedData = data;
        //         console.log("data type returned:" + typeof data);
        //     }
        // )
        //         .then(
        //     function(){
        //         for (var i = 0; i < fetchedData.length; i++) {
        //             var obj = fetchedData[i];
        //             for (var key in obj){
        //                 var value = obj[key];
        //                 console.log("Key: " + key + " Value: " + value);
        //             }
        //
        //         }
        //     }
        // )
        // );
    }

    // Retrieve data every 4 seconds and update the results tables
    window.setInterval(function(){
        get_data();
    }, 2000);

    function toggleLoading(on)
    {
        var ls = document.getElementById('loading');
        ls.style['display'] = on ? 'block' : 'none';
    }

    // function loadFile(filePath) {
    //     var result = null;
    //     var xmlhttp = new XMLHttpRequest();
    //     xmlhttp.open("GET", filePath, false);
    //     xmlhttp.send();
    //     if (xmlhttp.status==200) {
    //         result = xmlhttp.responseText;
    //     }
    //     return result;
    // }
    // console.log(loadFile(".txt"))

    // var cy = cytoscape({
    //     container: document.getElementById('cy'),
    //     elements: [
    //         { data: { id: 'a' } },
    //         { data: { id: 'b' } },
    //         {
    //             data: {
    //                 id: 'ab',
    //                 source: 'a',
    //                 target: 'b'
    //             }
    //         }
    //     ]
    // });
    //
    // var canvas = document.querySelector('canvas[data-id="layer2-node"]');
    // var context = canvas.getContext('2d');
    //
    // // draw rectangle using general canvas method
    // function draw() {
    //     context.fillRect(canvas.width / 2.1, 60, 30, 30);
    //     requestAnimationFrame(draw);
    // }
    // draw();
</script>

</body>
</html>