<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Premonition</title>
    <link th:href="@{/premonitionpage.css}" rel="stylesheet" />
    <link href="../static/premonitionpage.css" rel="stylesheet"/>
</head>
<body>
<ul>
  <li>
    <a href="homepage.html" th:href="@{/home}">Home</a>
  <li>
    <a href="premonition.html" th:href="@{/premonition}">Premonition</a>
  </li>
  <li>
    <a href="aboutus.html" th:href="@{/aboutus}">About Us</a>
  </li>
</ul>

<form method="POST" th:action="@{/upload}"  enctype="multipart/form-data">
  <tr>
  <td> Limited </td>
  <input type="range" min="0" max="5" value="3" class="slider" id="myRange">
  </tr>

    <tr>
      <td>include NRCs</td>
      <input type="checkbox" name="includeNRCs">
    </tr>
    <tr>
      <td>Remove Edges</td>
      <input type="checkbox" name="removeEdges">
    </tr>
    <tr>
      <td>Select a file to upload</td>
      <td><input type="file" name="files" /></td>
    </tr>
    <tr>
      <td>Select a file to upload</td>
      <td><input type="file" name="files" /></td>
    </tr>
    <tr>
      <td><input type="submit" value="Submit" /></td>
    </tr>
  </table>
</form>

</body>
</html>